<div class="error d-flex">
    <div class="site">
        <div class="sketch">
            <div class="bee-sketch red"></div>
            <div class="bee-sketch blue"></div>
        </div>
    
    <h1 class="errorH1 text-dark">Ops!
        <small class="text-dark">Esse anuncio não está mais disponível</small></h1>
    </div>
</div>