    <footer class="row bg-dark m-0">
        <div class="col-12">
            <p class="text-light text-center mt-4 mb-4">Desenvolvido por <b class="bold">Jonathan Dias</b></p>
        </div>
    </footer>

    </body>
</html>