<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <a href="/" class="navbar-brand ms-4">
            <img src="/img/logo.png" alt="" width="200">
        </a>

        <% if(typeof usuarioData === 'undefined') { %>

        <ul class="navbar-nav ms-auto navbar">
            <li class="nav-item">
                <a class="btn btn-outline-primary mx-2" href="/auth/login">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success ms-2 me-4" href="/admin/users/create">Cadastrar-se</a>
            </li>
        </ul>

        <% } else { %>

            <div class="dropdown ms-auto me-1" >
                <button class="btn" id="bell" onclick="notificacao()" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                    Notificações
                </button>

                <ul class="dropdown-menu p-4 dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="width: 350px; max-height: 500px; overflow: auto">
                    <h5>Notificações</h5>
                    <div class="dropdown-divider"></div>
                    <% notificacoes.forEach(notificacao => { %>
                        <% if(notificacoes.length >= 0) { %>
                            <li class="nav-item mb-4">
                                <a href="/produto/visualizar/<%= notificacao.TB_PRODUTO.SLUG_PRODUTO %>" class="text-dark texto_overflow_notif">
                                    <%= notificacao.DESCRICAO_NOTIFICACAO %>
                                </a>
                            </li>
                        <% } %>
                    <% }) %>
                    <% if(notificacoes.length === 0) { %>
                        <p class="mt-4 text-center">Ainda não há notificações aqui</p>
                    <% } %>
                </ul>
            </div>

            <a class="text-dark mx-3" href="/user/perfil">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
                Meu Perfil
            </a>
            <a class="text-dark mx-3" href="/auth/logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Sair
            </a>
        <% } %>

    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark pr-5">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link link-light sec-nav-link text-white" href="/produto/new">Anunciar Produto</a>
                    </li>
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% categorias.forEach(categoria => { %>
                                <li><a class="dropdown-item" href="/<%= categoria.SLUG_CATEGORIA %>/produtos"><%= categoria.NOME_CATEGORIA %></a></li>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light sec-nav-link text-white"  href="">Sobre nós</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav me-2 me-sm-5" style="float: right;">
                <li class="nav-item mr-5">
                    <button class="btn nav-link link-light sec-nav-link" id="btn-search" onclick="search()" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                    <form action="/produtos/pesquisar" id="search" style="display: none;" method="GET">
                        <input class="form-control me-2" name="produto_pesquisa" type="search" placeholder="Procure por um produto" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>